.detailers .label {
  justify-content: center;
}
.detailers .label section h2 {
  color: #24AB70;
  font-size: 48px;
}
.detailers .informasi {
  display: flex;
  flex-direction: column;
}
.detailers .informasi .informasidangambar {
  display: grid;
  grid-template-columns: auto auto;
  flex-wrap: wrap;
  column-gap: 50px;
}
.detailers .informasi .informasidangambar .detailgambar-kontainer img {
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  max-width: 470px;
  width: 100%;
}
.detailers .informasi .informasidangambar .detailgambar-kontainer img:hover {
  transform: scale(1.05);
  transition: ease 0.5s;
}
.detailers .informasi .informasidangambar div h2 {
  font-size: 25px;
  font-weight: 600;
  color: #222222;
  word-break: break-all;
}
.detailers .informasi .informasidangambar div p {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  word-break: break-all;
}
.detailers .informasi .informasidangambar div p span {
  color: #24AB70;
  word-break: break-all;
}
.detailers .informasi .informasidangambar div .bintang {
  color: #ff701d;
  font-size: 26px;
}
.detailers .informasi .informasidangambar .pemesanan {
  margin-top: 20px;
  text-align: left;
}
.detailers .informasi .informasidangambar .pemesanan img {
  margin-top: 10px;
  max-width: 150px;
  border-radius: 30px;
}
.detailers .informasi .informasidangambar .pemesanan img:hover {
  transform: scale(1.05);
  transition: ease 0.5s;
}
.detailers .informasi .informasidangambar .pemesanan iframe {
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  max-width: 456px;
  max-height: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.detailers .informasi .daftar-menu {
  margin-top: 50px;
}
.detailers .informasi .daftar-menu h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  word-break: break-all;
}
.detailers .informasi .daftar-menu h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
  word-break: break-all;
}
.detailers .informasi .daftar-menu .makan-minum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #F4FBF8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 50px;
  border-radius: 14px;
}
.detailers .informasi .daftar-menu .makan-minum li {
  font-size: 16px;
  margin-left: 40px;
  word-break: break-all;
}
.detailers .informasi .daftar-menu .makan-minum li span {
  margin-left: 10px;
  color: #3b7bb8;
}
.detailers .informasi .fasilitas h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
  word-break: break-all;
}
.detailers .informasi .fasilitas ul {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #F4FBF8;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 10px;
  border-radius: 14px;
}
.detailers .informasi .fasilitas ul li {
  list-style: none;
  margin-right: 20px;
  word-break: break-all;
}
.detailers .informasi .galeri h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}
.detailers .informasi .galeri ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.detailers .informasi .galeri ul li {
  word-break: break-all;
}
.detailers .informasi .galeri ul li img {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  max-height: 200px;
  transition: ease-in 0.2s;
}
.detailers .informasi .galeri ul li img:hover {
  transform: scale(1.1);
}
.detailers .informasi .form-review h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}
.detailers .informasi .form-review .form-review-container .nama-rating {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.detailers .informasi .form-review .form-review-container .nama-rating .form-group {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.detailers .informasi .form-review .form-review-container .nama-rating .form-group label {
  font-size: 16px;
  margin-bottom: 10px;
}
.detailers .informasi .form-review .form-review-container .nama-rating .form-group input {
  border: solid 2px;
  border-radius: 16px;
  font-size: 16px;
  padding: 8px;
}
.detailers .informasi .form-review .form-review-container .nama-rating .form-group select {
  border-radius: 16px;
  font-size: 16px;
  padding: 8px;
  border: solid 2px;
}
.detailers .informasi .form-review .form-review-container .form-group2 {
  display: flex;
  flex-direction: column;
}
.detailers .informasi .form-review .form-review-container .form-group2 label {
  font-size: 16px;
  margin-bottom: 10px;
}
.detailers .informasi .form-review .form-review-container .form-group2 textarea {
  max-width: 595px;
  border: solid 2px;
  border-radius: 16px;
  padding: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.detailers .informasi .form-review button {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  background-color: #24AB70;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}
.detailers .informasi .form-review button:hover {
  background-color: #353535;
}
.detailers .informasi .daftar-review h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}
.detailers .informasi .daftar-review .review-container2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.detailers .informasi .daftar-review .review-container2 .user-review {
  border-radius: 16px;
  padding: 15px;
  max-width: 450px;
}
.detailers .informasi .daftar-review .review-container2 .user-review h4 {
  font-size: 16px;
  font-weight: 500;
  border-bottom: solid 1px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.detailers .informasi .daftar-review .review-container2 .user-review p {
  margin-top: 10px;
  word-break: break-all;
}

@media screen and (max-width: 1000px) {
  .detailers .informasi .informasidangambar {
    grid-template-columns: auto;
  }
  .detailers .informasi .informasidangambar .detailgambar-kontainer {
    text-align: center;
    margin-bottom: 10%;
  }
  .detailers .informasi .informasidangambar .detailgambar-kontainer img {
    max-width: 60%;
    border-radius: 6px;
  }
}
@media screen and (max-width: 978px) {
  .judula {
    text-align: center;
  }
  .detailers .informasi .informasidangambar {
    grid-template-columns: auto;
  }
  .detailers .informasi .informasidangambar .detailgambar-kontainer {
    text-align: center;
    margin-bottom: 10%;
  }
  .detailers .informasi .informasidangambar .detailgambar-kontainer img {
    max-width: 60%;
    min-width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .informasi .informasidangambar div h2 {
    font-size: 20px;
  }
  .detailers .form-group input {
    margin-bottom: 10px;
  }
  .detailers .label {
    margin-top: 60px;
    margin-bottom: 30px;
    justify-content: center;
  }
  .detailers .label section h2 {
    color: #24AB70;
    font-size: 30px;
  }
  .deskripsi {
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding-bottom: 25px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    text-align: justify;
  }
}/*# sourceMappingURL=detail.css.map */