<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="src\public\images\logo\logo.jpg">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="about.css" rel="stylesheet" />
    <title>About</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="app-bar-logo">
          <img src="logo.png" alt="Logo Epicurean Madura">
          <h1>Epicurean Madura</h1>
      </div>
      <nav id="navigasi">
        <ul>
          <li><a href="#/home" >Home</a></li>
          <li><a href="#/kuliner">Kuliner</a></li>
          <li><a href="#/about">About</a></li>
        </ul>
      </nav>
      <button type="button" id="hamburger" aria-label="Toggle Menu">☰</button>
    </header>
    <main id="mainContent">
        <button type="button" id="back" aria-label="Tombol Back"> <=Kembali</button>
        <div class="judul">
            <h1>About</h1>
        </div>
        <div class="developer">
            <h2>Developer</h2>
            <div class="developer-container">
                <div class="anggota-developer">
                    <img src="anggota1.jpg" alt="Profil Yohan Permana">
                    <h3>Yohan Permana</h3>
                    <p>Front-End 1 Web Dev</p>
                    <div class="github">
                        <img src="github.png" alt="Github">
                        <p>YohanpermanaRepository</p>
                    </div>
                </div>
                <div class="anggota-developer">
                    <img src="anggota2.jpg" alt="Profil Jahfal Azzuhri Subroto">
                    <h3>Jahfal Azzuhri S</h3>
                    <p>Front-End 2 Web Dev</p>
                    <div class="github">
                        <img src="github.png" alt="Github">
                        <p>jahfal1987</p>
                    </div>
                </div>
                <div class="anggota-developer">
                    <img src="anggota3.jpg" alt="Profil M Nur Hikmal A">
                    <h3>M Nur Hikmal A</h3>
                    <p>Back End Web Dev</p>
                    <div class="github">
                        <img src="github.png" alt="Github">
                        <p>HikmalRepository</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="visi-misi">
            <h2>Visi Misi</h2>
            <div class="visi-misi-container">
                <div class="visi">
                    <h3>Visi</h3>
                    <ul>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                    </ul>
                </div>
                <div class="misi">
                    <h3>Misi</h3>
                    <ul>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        
            <div class="company-name">
                <h2>Epicurean Madura</h2>
                <p>Jelajahi Kuliner Madura</p>
            </div>
            <div class="home-footer">
                <h2><a href="#home">Home</a></h2>
                <p><a href="#explore">Explore</a></p>
                <p><a href="#wisata-kuliner-populer">Wisata Kuliner Populer</a></p>
                <p><a href="#testimoni">Testimoni</a></p>
                <p><a href="#about-madura">About Madura</a></p>
            </div>
            <div class="kuliner-footer">
                <h2><a href="#kuliner">Kuliner</a></h2>
                <p><a href="#daftar-kuliner">Daftar Kuliner</a></p>
            </div>
            <div class="about-footer">
                <h2><a href="#about">About</a></h2>
                <p><a href="#profile-developer">Profile Developer</a></p>
                <p><a href="#visi-misi">Visi Misi</a></p>
            </div>
        
    </footer>

    
  </body>
</html>

