<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epicurean Madura</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <img src="./images/logo (3).png" alt="logo epicurian">
        <nav>
            <button  id="menuToggle">☰</button>
            <ul id="drawer-navigasi">
                <li><a href="#/Homepage">Home</a></li>
                <li><a href="#/Kuliner">Kuliner</a></li>
                <li><a href="#/About">About</a></li>
            </ul>
        </nav>
    </header>
    <span class="skat"></span>

    

    <main>
        <div class="jumbotron">
            <section>
                <h1>Jelajahi  wisata kuliner <br><span>Madura</span> dengan mudah</h1>
                <p>Jelajahi ragam inforamsi wisata kuliner Madura <br> dan temukan tempat makan terbaik <br> untuk menikmatinya</p>
                <button>Explore</button>
            </section>
            <figure>
                <img src="./images/jumbotron.png" alt="gambar jumbotron">
            </figure>
        </div>
    </main>

    
</body>
</html>

