<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ini adalah site WisataKulinerMadura">
    <meta name="theme-color" content="#24AB70">
    <title>WisataKulinerMadura</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="icon" href="./images/favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    
</head>
<body>
    <button id="skip" class="skiper">Skip ke konten</button>
    <header>
        <img src="./images/logoepicurean.png" alt="logo epicurian">
        <nav>
            <button  id="menuToggle">☰</button>
            <ul id="drawer-navigasi">
                <li><a href="#/pagehome">Home</a></li>
                <li><a href="#/pagekuliner">Kuliner</a></li>
                <li><a href="#/pagefavorit">Bookmark</a></li>
            </ul>
        </nav>
    </header>
    <span class="skat"></span>

    

    

    <main></main>


    <footer>
        
        <div class="company-name">
            <h2>Wisata Kuliner Madura</h2>
            <p>Jelajahi Kuliner Madura</p>
        </div>
        <div class="home-footer">
            <h2><a href="#/pagehome">Home</a></h2>
            <p><a href="#pagehome">Explore</a></p>
            <p><a href="/#populer">Wisata Kuliner Populer</a></p>
            
            <p><a href="#reviewnews">Testimoni</a></p>
            <p><a href="#aboutmad">About Madura</a></p>
        </div>
        <div class="kuliner-footer">
            <h2><a href="#/pagekuliner">Kuliner</a></h2>
            <p><a href="#/pagekuliner">Daftar Kuliner</a></p>
        </div>
        <div class="kuliner-footer">
            <h2><a href="#/pagefavorit">Bookmark</a></h2>
            <p><a href="#/pagefavorit">Daftar Favorit</a></p>
        </div>
        <div class="about-footer">
            <h2><a href="#/pageabout">About</a></h2>
            <p><a href="#/pageabout">Profile Developer</a></p>
            <p><a href="#/pageabout">Visi Misi</a></p>
        </div>
    
    </footer>
</body>
</html>

