<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    

    <header>
        <img src="/src/public/images/logo (3).png" alt="logo epicurian">
        <nav>
            <!-- <button id="menuToggle">☰</button> -->
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Kuliner</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
    </header>
    

    <main>
        <div class="jumbotron">
            <section>
                <h1>Jelajahi  wisata kuliner<br><span>Madura</span> dengan mudah</h1>
                <p>Jelajahi ragam inforamsi wisata kuliner Madura <br> dan temukan tempat makan terbaik <br> untuk menikmatinya</p>
                <button>Explore</button>
            </section>
            <figure>
                <img src="/src/public/images/jumbotron.png" alt="gambar jumbotron">
            </figure>
        </div>

        <article class="populer">
            <div class="label">
                <section>
                    <h2>Wisata kuliner terpopuler</h2>
                    <p>Lorem Ipsum is simply dummy text of </p>
                </section>
                <button>View All</button>
            </div>

            <div class="list-item">
                <article>
                    <img src="/src/public/images/sinjay.jpg" alt="gambar wisata kuliner">
                    <p class="lok">Bangkalan</p>
                    <h3><a href="">Bebek Sinjai Tretan</a></h3>
                    <p>Buka 08.00-21.00 <span>&#9733;5</span></p>
                    <section>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    <div><button>Detail <span>→</span></button></div>
                    </section> 
                </article>
                <article>
                    <img src="/src/public/images/sinjay.jpg" alt="gambar wisata kuliner">
                    <p class="lok">Bangkalan</p>
                    <h3><a href="">Bebek Sinjai Tretan</a></h3>
                    <p>Buka 08.00-21.00 <span>&#9733;5</span></p>
                    <section>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    <div><button>Detail <span>→</span></button></div>
                    </section> 
                </article>
                <article>
                    <img src="/src/public/images/sinjay.jpg" alt="gambar wisata kuliner">
                    <p class="lok">Bangkalan</p>
                    <h3><a href="">Bebek Sinjai Tretan</a></h3>
                    <p>Buka 08.00-21.00 <span>&#9733;5</span></p>
                    <section>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    <div><button>Detail <span>→</span></button></div>
                    </section> 
                </article>
            </div>

        </article>

        <article class="testimoni">
            <div class="label">
                <section>
                    <h2>Testimoni Terbaik</h2>
                    <p>Lorem Ipsum is simply dummy text of </p>
                </section>
            </div>

            <div class="list-item2">
                <article>
                    <img src="/src/public/images/sinjay.jpg" alt="gambar wisata kuliner">
                    <h3><a href="">Bebek Sinjai Tretan</a></h3>
                    <section>
                    <h4>Yondaime Hokage</h4>
                    <p>&#9733;5</p>
                    <span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </span>
                    </section> 
                </article>
                <article>
                    <img src="/src/public/images/sinjay.jpg" alt="gambar wisata kuliner">
                    <h3><a href="">Bebek Sinjai Tretan</a></h3>
                    <section>
                    <h4>Yondaime Hokage</h4>
                    <p>&#9733;5</p>
                    <span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </span>
                    </section> 
                </article>
                <article>
                    <img src="/src/public/images/sinjay.jpg" alt="gambar wisata kuliner">
                    <h3><a href="">Bebek Sinjai Tretan</a></h3>
                    <section>
                    <h4>Yondaime Hokage</h4>
                    <p>&#9733;5</p>
                    <span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </span>
                    </section> 
                </article>
            </div>
        </article>

        <article class="aboutmadura">
            <div class="label">
                <section>
                    <h2>About Madura</h2>
                </section>
            </div>
            <article>
                <div>
                <section>
                    <p>Dari sisi kuliner, Madura adalah surga bagi pecinta makanan. 
                        Dengan kekayaan bahan-bahan alami dan rempah-rempah, setiap hidangan Madura menghadirkan kelezatan yang tidak terlupakan. Dari sate kambing Madura yang terkenal hingga bebek panggang dan sop ikan, setiap gigitan adalah 
                        sebuah petualangan kuliner yang memanjakan lidah Anda dengan citarasa yang otentik dan memikat hati siapa pun yang mencicipinya. Selamat menelusuri
                        kelezatan dari pulau yang penuh pesona ini!.
                    </p>
                    <h3>Alexandr Ivchenko</h3>
                    <p>National  Epicurean</p>
                </section>
                <figure>
                    <img src="/src/public/images/image.png" alt="gambar madura">
                </figure>
                </div>
            </article>
        </article>


        

    </main>
    
</body>
</html>