$txt: #353535;
$pc: #24AB70;
$txt2:#000000;
$w:#ffff;
$bgl:#FAFAFA;
$jlt : #222222;
$ds: #555555;
$bva:#E9F7F1;
$shadowbox: 0 4px 3px rgba(0, 0, 0, 0.2);

.abouters{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .label{
        justify-content: center;
        section{
            h2{
                color: $pc;
                font-size: 48px;
            }
        }
    
    }
    .developer{
        width: 80%;
        h2{
            margin-left: 13px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
        }
    }

    .developer-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    
    .anggota-developer{
        box-shadow: $shadowbox;
        background-color: #DEDEDE;
        padding: 40px;
        margin: 10px;
        border-radius: 16px;
        max-width: 396px;
        min-height: 432px;
        text-align: center;
        h3{
            font-size: 29px;
            font-weight: 300;
        }
        .github{
            margin-top: 80px;
            p{
                font-size: 13px;
            }
        }
        p{
            font-size: 17px;
        }
    }
    
    .anggota-developer img {
        border-radius: 50%;
        width: 150px;
        height: 150px; 
        object-fit: cover;
        margin-bottom: 10px;
    }
    
    .github {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        font-size: 10px;
    }
    .github img {
        width: 24px;
        height: 24px; 
        margin-right: 5px;

    }

    img:hover {
        transition: transform 0.4s ease;
        transform: scale(1.08);
      }
    
    .visi-misi{
        box-shadow: $shadowbox;
        h2{
            font-size: 24px;
            margin-bottom: 15px;
            font-weight: 600;
        }
        border: 1px solid $txt2; 
        margin-top: 100px;
        border-radius: 15px;
        padding: 30px;
        max-width: 80%;
    }
    
    .visi-misi-container{
        padding-left: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .visi{
            h3{
                font-size: 20px;
                font-weight: 500;
            }
            ul{
                list-style: none;
                li{
                    font-size: 14px;
                    margin-right: 30px;
                }
            }
        }
        .misi{
            h3{
                font-size: 20px;
                font-weight: 500;
            }
            ul{
                list-style: none;
                li{
                    font-size: 14px;
                }
            }
        }
    }

    
@media screen and (max-width: 1050px){
    .developer-container{
        grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 767px){

    .abouters{
        .label{
            section{
                h2{
                    font-size: 32px;
                }
            }
    
        }

    }

    .developer-container{
        grid-template-columns: 1fr;
    }

    .visi-misi-container{
        grid-template-columns: 1fr;
        .misi{
            h3{
                margin-top: 10px;
            }
        }
    }  
  }
    
}