$txt: #353535;
$pc: #24AB70;
$txt2:#000000;
$w:#ffff;
$bgl:#FAFAFA;
$jlt : #222222;
$ds: #555555;
$bva:#E9F7F1;
$bva2:#F4FBF8;
$shadowbox: 0 1px 3px rgba(0, 0, 0, 0.2);


.detailers{
    .label{
        justify-content: center;
        section{
            h2{
                color: $pc;
                font-size: 48px;
            }
        }
    
    }

    .informasi{
        
        display: flex;
        flex-direction: column;


        // ! Style Informasi wisata kuliner
        
        .informasidangambar{
            display: grid;
            grid-template-columns: auto auto;
            flex-wrap: wrap;
            column-gap: 50px;
            .detailgambar-kontainer{
                img{
                    object-fit: cover;
                    border-radius: 30px;
                    box-shadow:$shadowbox;
                    max-width: 470px;
                    width: 100%;
                    &:hover {
                        transform: scale(1.05);
                        transition: ease 0.5s;
                    }
                }
            }
            
        
            div{
                h2{
                    font-size: 25px;
                    font-weight: 600;
                    color: $jlt;
                    word-break: break-all;
                }
                p{
                    font-size: 15px;
                    margin-top: 15px;
                    text-align: justify;
                    word-break: break-all;
                    span{
                        color: $pc;
                        word-break: break-all;
                    }
                   
                }
                .bintang{
                    color: #ff701d;
                     
                    font-size: 26px;
                }
                
            }

            .pemesanan{
                margin-top: 20px;
                text-align: left;

                img{
                    margin-top: 10px;
                    max-width: 150px;
                    border-radius: 30px;
                    
                &:hover {
                    transform: scale(1.05);
                    transition: ease 0.5s;
                }
                }



                iframe{
                    border-radius: 10px;
                    width: 100%;
                    margin-top: 10px;
                    max-width: 456px;
                    max-height: 200px;
                    box-shadow: $shadowbox;
                }
            }
        }

        // ! Style daftar menu makanan dan minuman

        .daftar-menu{
            margin-top: 50px;
            h2{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 10px;
                word-break: break-all;
            }
            h3{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;
                margin-top: 20px;
                word-break: break-all;
            }
            .makan-minum{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                background-color: $bva2;
                box-shadow: $shadowbox;
                padding: 50px;
                border-radius: 14px;
                li{
                    font-size: 16px;
                    margin-left: 40px;
                    word-break: break-all;

                    span{
                        margin-left: 10px;
                        color: #3b7bb8;
                    }
                }
            }
        }

        // ! Style Fasilitas

        .fasilitas {
            h2{
                font-size: 24px;
                font-weight: 600;
                margin-top: 30px;
                margin-bottom: 10px;
                word-break: break-all;
            }
            ul{
                box-shadow: $shadowbox;
                background-color: $bva2;
                display: flex;
                flex-wrap: wrap;
                padding: 30px;
                gap: 10px;
                border-radius: 14px;
                li{
                    list-style: none;
                    margin-right: 20px;
                    word-break: break-all;
                }
            }

        }

        // ! Style Galeri
        .galeri{

            h2{
                font-size: 24px;
                font-weight: 600;
                margin-top: 30px;
                margin-bottom: 10px;
            }
            
            ul{
                
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                list-style: none;

                li{
                    word-break: break-all;
                    img{
                        width: 100%;
                        max-width: 400px;
                        border-radius: 5px;
                        box-shadow: $shadowbox;
                        object-fit: cover;
                        max-height: 200px;
                        transition:ease-in 0.2s;
                        
                    }
                    img:hover {
                        transform: scale(1.10);
                    }
                }

            }
        }

        .form-review{
            h2{
                font-size: 24px;
                font-weight: 600;
                margin-top: 30px;
                margin-bottom: 10px;
            }

            .form-review-container{
                .nama-rating{
                    display: flex;
                    margin-bottom: 20px;
                    flex-wrap: wrap;

                    .form-group{
                        margin-right: 30px;
                        display: flex;
                        flex-direction: column;
                        label{
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
                        input{
                            border: solid 2px;
                            border-radius: 16px;
                            font-size: 16px;
                            padding: 8px;
                        }
                        select{
                            border-radius: 16px;
                            font-size: 16px;
                            padding: 8px;
                            border: solid 2px;
                        }
                    }
                }

                .form-group2{

                    label{
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    textarea{
                        max-width: 595px;
                        border: solid 2px;
                        border-radius: 16px;
                        padding: 10px;
                        font-size: 16px;
                        font-family:"Poppins", sans-serif;
                    }

                    display: flex;
                    flex-direction: column;
                }


            }
            button{
                width: 80px;
                height: 30px;
                border-radius: 4px;
                background-color: $pc;
                color: $w;
                border: none;
                cursor: pointer;
                margin-top: 20px;
                font-size: 16px;

                &:hover {
                    background-color: $txt; 
                }
            }
        }

        .daftar-review{

            h2{
                font-size: 24px;
                font-weight: 600;
                margin-top: 30px;
                margin-bottom: 10px;
            }

            .review-container2{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .user-review{
                    border-radius: 16px;
                    padding: 15px;
                    max-width: 450px;
    
                    h4{
                        font-size: 16px;
                        font-weight: 500;
                        border-bottom: solid 1px ;
                        word-break: break-all;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    p{
                        margin-top: 10px;
                        word-break: break-all;
                    }
                }

            }
        }
    }
}

// ! Responsif

@media screen and (max-width: 1000px){
    .detailers{
        .informasi{
            .informasidangambar{
                grid-template-columns: auto;

                

                .detailgambar-kontainer{
                    text-align: center;
                    margin-bottom: 10%;

                    img{
                        max-width: 60%;
                        border-radius: 6px;
                    }
                }
                
            }

        }
       
    }
}

@media screen and (max-width: 978px){

    .judula{
        text-align: center;
        
    }
    .detailers{
        .informasi{
            .informasidangambar{
                grid-template-columns: auto;

                .detailgambar-kontainer{
                    text-align: center;
                    margin-bottom: 10%;

                    img{
                        max-width: 60%;
                        min-width: 250px;
                    }
                }
                
            }

        }
       
    }
    
}
@media screen and (max-width: 768px){

    .informasi{
        .informasidangambar{
            div{
                h2{
                    font-size: 20px;
                }
            }
        }
    }

    .detailers{
        .form-group{
            input{
                margin-bottom: 10px;
            }
        }
        .label{
            margin-top: 60px;
            margin-bottom: 30px;
            justify-content: center;
            section{
                h2{
                    color: $pc;
                    font-size: 30px;
                }
            }
        
        }
    }

    .deskripsi{
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: $shadowbox;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-top: 20px;
        padding-right: 30px;
        text-align: justify;
    }




}

