footer{
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding-bottom: 50px;
    max-width: 1600px;
    
}

.home-footer{
    padding: 20px;
    p{
        padding-top: 10px;
    }
}

.kuliner-footer{
    padding: 20px;
    p{
        padding-top: 10px;
    }
}

.about-footer{
    padding: 20px;
    p{
        padding-top: 10px;
    }
}

footer a {
    text-decoration: none;
    color: #090909;
    font-size: 15px;
    &:hover {
        color: #24AB70; 
    }
}

footer .company-name h2{
    color: #24AB70;
}


  @media screen and (max-width: 768px){

    .footer-container{
        display: flex;
        justify-content: space-around;
    }

  }

    @media screen and (max-width: 576px){
    footer{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
  }