$txt: #353535;
$pc: #24AB70;
$txt2:#000000;
$w:#ffff;
$bgl:#FAFAFA;
$jlt : #222222;
$ds: #555555;
$bva:#E9F7F1;
$shadowbox: 0 4px 3px rgba(0, 0, 0, 0.075);




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  .cs_skip{
    display: none;
  }
  main{
    margin-bottom: 200px;
    max-width: 1440px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  a{
    text-decoration: none;
    color: $txt2;
  }

  header {
    display: flex;
    max-width: 1440px;
    width: 90%;
    justify-content: space-between;
    padding-top: 30px;
    img{
      max-width: 300px;
      margin-right: 5%;
    }
    align-items:center ;
    z-index: 10;

    nav{
      button{
        font-size: 22px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $pc;
        color: $w;
        box-shadow: $shadowbox;
        &:hover {
          background-color: $txt; 
        }
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      ul{
        display: flex;
        list-style: none;
        li{
          a{
            padding: 20px;
            font-size: 20px;
            &:hover {
              color: $pc;;
            }
            transition: color 0.3s ease;
          }
        }
      }
    }
  }

  .jumbotron {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    section{
      h1{
        font-size: 42px;
        color: $txt;
        span{
          color: $pc;
        }
      }
      p{
        margin-top: 10px;
        font-size: 16px;
        font-weight:300;
        color: $txt;
      }
      button{
        padding: 10px;
        border-radius: 10px;
        width: 165px;
        height: 50px;
        background-color: $pc;
        color: $w;
        font-size: 18px;
        border: none;
        margin-top: 30px;
        &:hover {
          background-color: $txt; 
        }
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }
    figure{
      img{
        max-width: 540px;
        width: 100%;
        transition: transform 0.4s ease-in-out;
      }
      img:hover {
        transform: scale(1.08);
      }
    }
  }
  
  .label{
    margin-bottom: 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 95%;
    
    h2{
      font-size: 40px;
      font-weight: 600;
      color: $txt;
    }
    p{
      color: $ds;
      margin-top: 10px;
      max-width: 600px;
    }
    button{
      display: flex;
      margin-left: 100px;
      font-size: 16px;
      border-radius: 0px;
      border: none;
      background-color: $w;
      color: $pc;
      padding: 10px;
      cursor: pointer;
      border-radius: 16px;
      i{
        margin-left: 10px;
      }
      &:hover {
        background-color: $bva; 
      }
      transition: background-color 0.3s ease;
      

    }
  }

  .populer{
    .list-item{
      margin-top: 70px;
      display: grid;
      gap: 50px;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-around;
      article{
        box-shadow: $shadowbox;
        border-radius: 16px;
        background-color: $bgl;
        padding: 30px;
        max-width: 411px;
        display: flex;
        flex-direction: column;
        img{
          max-width: 346px;
          width: 100%;
          height: 207px;
          object-fit: cover;
          border-radius: 16px;
          margin-bottom: 30px;
          transition: transform 0.4s ease-in-out;
        }
        
        img:hover {
            transform: scale(1.05);
        }
        .lok{
          color: $pc;
          word-break: break-all;
        }
        p{
          word-break: break-all;
          span{
            font-size: 23px;
            color: #ff701d;
            margin-left: 10px;
            margin-right: 10px;
          }
        }
        
        h3{
          a{
            font-size: 24px;
            font-weight:600;
            color: $jlt;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
        section{
          margin-top: 10px;
          p{
            color:$ds;
            text-align: justify;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-all;
          }
          div{
            display: flex;
            justify-content:end;
            margin-top: 20px;
            button{
              display: flex;
              align-items: center;
              font-size: 16px;
              color: $w;
              margin-top: 15px;
              background: $pc;
              border: none;
              padding:5px 10px;
              border-radius: 20px;
              &:hover {
                background-color: #222222;
              }
              cursor: pointer;
              transition: background-color 0.3s ease;
            }
          }
        }
      }
    }
  }

  .testimoni{
    .label{
      justify-content: end;
      text-align: end;
    }
    .list-item2{
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      article{
        // box-shadow: $shadowbox;
        border-radius: 16px;
        // background-color: $bgl;
        padding: 30px;
        max-width: 411px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          width: 150px;
          height: 150px;

          // max-width: 346px;
          // height: 207px;
          object-fit: cover;
          border-radius: 100px;
          margin-bottom: 30px;
          transition: transform 0.4s ease;
        }
        img:hover {
          transform: scale(1.05);
        }
        .tgltesti{
          margin-bottom: 15px;
          font-size: 13px;
        }
        h3{
          a{
            font-size: 24px;
            font-weight:600;
            color: $jlt;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            transition: ease 0.3s;

            &:hover{
              transform: scale(1.05);
            }
          }
        }

        p{
          span{
            font-size: 23px;
            color: #ff701d;
          }
        }


        section{
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          h4{
            font-size: 16px;
            color: $jlt;
            font-weight:500;
            word-break: break-all;
            border-bottom: solid $ds 2px;
            text-align: center;
            margin-bottom: 10px;
            padding-bottom: 10px;
          }
          p{
            color: $jlt;
            word-wrap: break-word;
            word-break: break-all;
            text-align: justify;
            
          }
          span{
            p{
              margin-top: 10px;
              color:$ds;
              text-align: justify;
              word-break: break-all;

              
            }
          }
        }
      }

    }
  }


  .aboutmadura{
    margin: 0% 5% 0% 5%;
    .label{
      justify-content: center;
    }
    article{
      box-shadow: $shadowbox;
      border-radius: 16px;
      // max-height: 400px;
      background-color: $bgl;
      div{
        display: flex;
        justify-content: space-between;
        // align-items: center;
        section{
          padding: 50px;
          padding-left: 100px;
          max-width: 730px;
          div{
            flex-direction: column;
          }
          p{
            font-size: 16px;
            color: $ds;
            text-align: justify;
            
           
          }
      
          h3{
            margin-top: 20px;
            font-size: 24px;
            color: $jlt;
            font-weight: 500;
          }
        }
        figure{
          img{
            transition: transform 0.4s ease-in-out;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            object-fit: cover;
            // width:  100%;
            height: 400px;
            max-width: 500px;
            
          }
          img:hover {
            transform: scale(1.05);
        }
        }
        
        
      }
    }
    
  }

 
  // ! Code Responsif

  @media screen and (max-width: 1400px){
    .jumbotron{
      figure{
        margin-top: 60px;
      }
    }
    .populer{
      .label{
        justify-content: space-evenly;
      }
      .list-item{
        grid-template-columns: auto auto;
        justify-content: center;
      }
    }
    .testimoni{
      .label{
        width: 87%;
      }
      .list-item2{
        grid-template-columns: auto auto;
        justify-content: center;

      }
    }
    .aboutmadura{
      article{
        div{
          section{
            display: flex;
            flex-direction: column-reverse;
            div{
              flex-direction: column;
              margin-bottom: 30px;
            }
          }
          align-items: center;
          figure{
            padding-right: 80px;
            img{
              max-width: 300px;
              height: 250px; 
              border-radius: 10px;
            }
          }
        }
      }
    }
    
  }
  @media screen and (max-width: 1302px){
    .jumbotron{
      figure{
        img{
         width: 90%;
        }
      }
    }
  }
  @media screen and (max-width: 950px){
    main{
      width: 80%;
    }
    .aboutmadura{
      article{
        div{
          section{
            padding-left: 50px;
          }
          flex-direction: column;
          figure{
            display: none;
          }
        }
      }
    }

    .populer{
      .label{
        margin-bottom: 0px;
        button{
          margin-top: 30px;
        }
      }
      .list-item{
        margin-top: 30px;
      }
    }
    

  }
  @media screen and (min-width: 767px){
    header{
      nav{
        button{
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 767px){
    body{
      overflow-x: hidden;
    }
    .skat{
      height: 20vmin;
    }
    header{
      position: fixed;
      background-color: $w;
      justify-content: space-between;
      padding-bottom: 35px;
      
      
      img{
        width: 70%;
      }
      nav{
        ul{
          li{
            display: none;
          }
        }
      }
    }
    
    .open {
      display: flex;
      margin-top: 8vmin;
      left: 0%;
      transition: background-color 0.3s linear;
      z-index: 9;
      position:fixed;
      flex-direction: column;
      background-color: $bgl;
      padding-top: 20px;
      height:300vh;
      width:100%;
      align-items: center;
      li{
        width: 100%;
        justify-content: center;
        margin-top: 10vmin;
        display: flex;
        a{
          padding: 10px;
        }
        &:hover{
          background-color:$pc;
          border-radius: 3px;
          transition: background-color 0.3s linear;
          a{
            color: $w;
          }
        }
      }

    }
    .jumbotron{
      figure{
        img{
          width: 85%;
        }
      }
      section{
        h1{
          font-size: 30px;
        }
        p{
          font-size: 13px;
        }
        button{
          width: 100px;
          max-height: 35px;
          font-size: 14px;
        }
      }
      figure{
        margin-top: 60px;
      }
    }

    .label{
      margin-top: 70px;
      flex-direction: column;
      align-items: center;
      button{
        margin-right: 100px;
      }
      section{
        h2{
          font-size: 28px;
        }
        p{
          font-size: 13px;
        }
      }
    }

    .populer{
      .list-item{
        grid-template-columns: auto ;
        gap: 70px;
        article{
          box-shadow: none;
          h3{
            a{
              font-size: 20px;
            }
          }
          p{
            font-size: 12px;
          }
          section{
            div{
              button{
                font-size: 13px;
                span{
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
    .testimoni{
      .label{
        width: 100%;
      }
      .list-item2{
        gap: 50px;
        grid-template-columns: auto;
        article{
          box-shadow: none;
          h3{
            a{
              font-size: 20px;
            }
          }
          section{
            span{
              p{
                font-size: 13px;
              }
            }
          }
        }
      }
    }

    .aboutmadura{
      article{
        box-shadow: none;
        div{
          section{
            padding-left: 50px;
            p{
              font-size: 13px;
            }
            div{
              h3{
                font-size: 16px;
              }
              p{
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }









  

  


.like{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $pc;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: $w;
  cursor: pointer;
}




  // ! Loading
  .loadingsignal{

    margin-bottom: 400px;
    margin-left: 50%;
  
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: $pc;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
  }
  @keyframes l27 {
    100% {transform: rotate(1turn)}  
  }





  .toggleback{
    margin-top: 100px;
    background-color: $w;

    a{
      width: max-content;
      padding: 7px;
      border-radius: 10px;
        
    &:hover {
      background-color: $bva;
    }
      display: flex;
      color: $pc;
      i{
        margin-right: 10px;
      }
    }
  }




.gg-details-more {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 14px;
  border: 2px solid transparent
}
.gg-details-more::after,
.gg-details-more::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  border-radius: 3px;
  background: currentColor
}
.gg-details-more::before {
  box-shadow: 0 4px 0 0;
  top: 0;
  width: 16px
}
.gg-details-more::after {
  width: 10px;
  bottom: 0
}

.gg-arrow-left-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs,1));
  border-radius: 22px
}
.gg-arrow-left-o::after,
.gg-arrow-left-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 4px
}
.gg-arrow-left-o::after {
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 6px
}
.gg-arrow-left-o::before {
  width: 10px;
  height: 2px;
  bottom: 8px;
  background: currentColor
}

.gg-arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px
}
.gg-arrow-right::after,
.gg-arrow-right::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 3px
}
.gg-arrow-right::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 7px
}
.gg-arrow-right::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor
}