$bgs: #F6FCF9;
$txt: #353535;
$pc: #24AB70;
$txt2:#000000;
$w:#ffff;
$bgl:#FAFAFA;
$jlt : #222222;
$ds: #555555;
$bva:#E9F7F1;
$shadowbox: 0 4px 3px rgba(0, 0, 0, 0.075);
$shadowbox2: 0 4px 3px rgba(146, 146, 146, 0.2);
.allkuliner{
    .label{
        justify-content: center;
        margin-top: 40px;

        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                color: $pc;
                font-size: 48px;
            }
            p{
                font-size: 18px;
                text-align: center;
            }
        }
    
    }

    .searchkuliner{
      form{
        display: flex;
        justify-content: center;
        input{
          box-shadow: $shadowbox;
          background-color:$bgs;
          border: none;
          height: 35px;
          border-radius: 10px;
          font-family:"Poppins", sans-serif;
          text-align: center;
          margin-right: 10px;
          margin-left: 10px;
          max-width: 400px;
          width: 100%;
          font-size: 12px;
        }
  
        div{
          display: flex;

          button{
            background: none;
            border: none;
            font-size: 34px;
            cursor: pointer;
            margin-left: 10px;
            height: 35px;
            max-width: 40px;
             
            &:hover {
              transform: scale(1.10);
            }
          }
          
          select{
            max-width: 100px;
            cursor: pointer;
            border: none;
            height: 35px;
            background-color: $bgs;
            border-radius: 10px;
            align-items: center;
            font-family:"Poppins", sans-serif;
            text-align: center;
            box-shadow: $shadowbox;
            font-size: 12px;
            
  
          }
        }

      }
      
    }

    .list-item{
      margin-top: 70px;
      display: grid;
      gap: 50px;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-around;
      article{
        box-shadow: $shadowbox;
        border-radius: 16px;
        background-color: $bgl;
        padding: 30px;
        max-width: 411px;
        display: flex;
        flex-direction: column;
        img{
          max-width: 346px;
          width: 100%;
          height: 207px;
          object-fit: cover;
          border-radius: 16px;
          margin-bottom: 30px;
          transition: transform 0.4s ease-in-out;
        }
        
        img:hover {
            transform: scale(1.05);
        }
        .lok{
          color: $pc;
          word-break: break-all;
        }
        p{
          word-break: break-all;
          span{
            font-size: 23px;
            color: #ff701d;
            margin-left: 10px;
            margin-right: 10px;
          }
        }
        
        h3{
          a{
            font-size: 24px;
            font-weight:600;
            color: $jlt;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
        section{
          margin-top: 10px;
          p{
            color:$ds;
            text-align: justify;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-all;
          }
          div{
            display: flex;
            justify-content:end;
            margin-top: 20px;
            button{
              display: flex;
              align-items: center;
              font-size: 16px;
              color: $w;
              margin-top: 15px;
              background: $pc;
              border: none;
              padding:5px 10px;
              border-radius: 20px;
              
              &:hover {
                background-color: #222222;
              }
              cursor: pointer;
              transition: background-color 0.3s ease;
            }
          }
        }
      }
    }
}



// ! Responsif
@media screen and (max-width: 1400px){
    .allkuliner{
        .list-item{
            grid-template-columns: auto auto;
            justify-content: center;
        }

        .label{
            section{
                h2{
                    font-size: 28px;

                }

                p{
                  text-align: justify;
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){

  .searchkuliner{
    form{
      margin-right: 50px;
      flex-direction: column;
      input{
        margin-bottom: 30px;
      }
      div{
        margin-left: 10px;
      }
    }
  }
    .toggleback{
        a{
            font-size: 13px;
        }
    }
    .allkuliner{
        .list-item{
            grid-template-columns: auto ;
            gap: 70px;
            article{
              box-shadow: none;
              h3{
                a{
                  font-size: 20px;
                }
              }
              p{
                font-size: 12px;
              }
              section{
                div{
                  button{
                    font-size: 13px;
                    span{
                      font-size: 20px;
                    }
                  }
                }
              }
            }
        }
    }
}